---
layout: archive
title: "Talks"
permalink: /talks/
author_profile: true
---

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a presentation!</a></p>
<br>
<br>ISACA 2019 NACACS Top Rated Speaker:
<img src="https://raw.githubusercontent.com/aclarkData/aclarkData.github.io/master/images/TopRatedSpeaker_Icon.png" alt=""style="height:300px;">
<br>
<p><b>Upcoming talks:</b></p>
<br>
<ul>
  <li><a href="https://web.cvent.com/event/65f94887-0bbb-4a97-8064-b8c92e1137b7/summary?environment=P2">Best Practices for AWS and Cloud Security Audit </a> - Thursday, November 7 2019 - ISACA VA Cybersecurity Summit Richmond, VA USA</li>
<li> <a href="https://next.isaca.org/conferences/north-america-cacs-2020">Machine Learning Monitoring, Compliance and Governance </a> - North America CACS 2020, 12-14 May 2020 in Baltimore, MD
</ul>

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
