---
layout: archive
title: "Talks"
permalink: /talks/
author_profile: true
---

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a presentation!</a></p>

Upcoming talks:

* AWS for Auditors - Tuesday, May 14 2019 | 9:30AM – 10:30AM - ISACA NACAS Anaheim, California USA
* The Machine Learning Audit - Wednesday May 15 2019 - University of Tulsa Conference of Accountants - Tulsa, Oklahoma USA
* Blockchain for Auditors - Tuesday, July 16th 2019 | 3:00 PM - 4:00 PM - MISTI ITAC - Arlington, Virginia USA

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
