---
layout: archive
title: "Talks"
permalink: /talks/
author_profile: true
---

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a presentation!</a></p>
<br>
<img src="images/TopRatedSpeaker_Icon.png" alt=""style="width:200px;height:200px;">
<br>
<p><b>Upcoming talks:</b></p>
<br>

<!-- <ul>
  <li><a href="https://www.eventbrite.com/e/best-practices-for-aws-and-it-audit-tickets-66148348491">Best Practices for AWS and IT Audit </a> - Tuesday, August 20 2019 - ISACA Middle Tennessee Chapter Franklin, TN USA</li>
</ul> -->

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
